<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>GEN Faucet</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
	<link rel="shortcut icon" type="image/png" href="gen.png"/>

</head>

<body>
	<div class="ribbon">
		<div class="container">
			<h2 class="title">DAOstack Faucet</h2>
			<div class="card" style="max-width:600px;">
				<div class="card-block">
					<form class="form-register" action="/request_token/" method="post">
						<input type="text" id="address" name="address" placeholder="address" value="" />
						<br/>
						<div>

						</div>
						<div class="row">
							<div class="col-5 offset-1">
								<p>Ether</p>
								<img src="eth.png" />
								<p><b>Balance</b>: <span id="etherBalance"><span></p>
							</div>
							<div class="col-5">
								<p>GEN</p>
								<img src="gen.png" />
								<p><b>Balance</b>: <span id="tokenBalance"><span></p>
						</div>
					</div>
					<div class="g-recaptcha" data-sitekey="6LcGzWEUAAAAAO2V_n8owqjubm8KOIJUe_tUXnwE" data-callback="enableRequest"></div>
					<button type="submit" class="btn btn-secondary" id="requestBtn" disabled="true">Request</button>
					<a id="txUrl" target="_blank" style="display: block;margin-top: 10px;"></a>
				</form>
			</div>
		</div>
	</div>
</div>
	<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

	<script src="main.js"></script>
</body>

</html>
